$browser-context: 16px;

@function rem($pixels, $context: $browser-context) {
    @return #{$pixels/$context}rem;
}

/* visually-hidden style */
.visually-hidden {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0px !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0px, 0px, 0px, 0px) !important;
    white-space: nowrap !important;
    border: 0px !important;
}

/* progress-bar style */
.progress {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: rem(10px);
    background-color: #f9f9f9;

    .progress-bar {
        width: 0%;
        height: 100%;
        background: #000;
        transition: width 0.2s ease-out;
    }
}
/* //progress-bar style */

/* main layout style*/
.wrapper {
    background-color: #f9f9f9;
}

.main {
    width: 100%;
    padding: rem(48px) 0;
    overflow-y: auto;

    .main-wrap {
        max-width: rem(688px);
        margin: 0 auto;
        padding: 0 rem(16px);
    }

    .main-content {
        margin-bottom: rem(48px);
        padding: rem(24px) 0 0;

        & ~ .main-content {
            color: #333;
            word-break: keep-all;
        }

        .info-tit {
            font-size: rem(40px);

            .mark {
                color: #505ad7;
            }
        }

        .main-tit {
            font-size: rem(26px);
            margin-bottom: rem(30px);
        }

        .con-tit {
            font-size: rem(20px);

            .con-link {
                &::after {
                    content: '↗️';
                    margin-left: 0.12em;
                    font-weight: 500;
                }

                &:hover {
                    border-bottom: 2px solid #333;
                }
            }
        }

        .con-sub-tit {
            font-size: rem(13px);
        }

        .content-wrap {
            .content-header {
                margin-top: rem(10px);

                .con-link {
                    color: #505ad7;

                    &:hover {
                        border-bottom: 2px solid #505ad7;
                    }
                }

                .desc-list {
                    padding-left: rem(4px);
                    color: #717171;

                    .desc-item {
                        font-size: rem(12px);
                    }
                }
            }

            .content {
                margin-top: rem(20px);

                .con-item {
                    & ~ .con-item {
                        margin-top: rem(20px);
                        padding-top: rem(40px);
                    }

                    .con-block:last-child {
                        margin-top: rem(20px);
                    }
                }

                .con-block {
                    .con-tit {
                        font-size: rem(18px);
                        margin-bottom: rem(8px);

                        .con-tit-main {
                            margin-bottom: rem(8px);

                            & ~ .con-link {
                                margin-right: rem(8px);
                                margin-bottom: rem(8px);
                            }
                        }
                    }

                    .con-desc {
                        font-size: rem(14px);
                    }

                    .con-sub-tit {
                        display: inline-flex;
                        padding: 0 rem(10px);
                        margin-bottom: rem(8px);
                        background-color: #b9bcc7;
                        border-radius: rem(14px);
                        text-align: center;
                        color: #fff;

                        & + .con-desc-item {
                            &::before {
                                display: none;
                            }
                        }
                    }

                    & ~ .con-block {
                        margin-top: rem(28px);
                    }

                    .con-desc-item {
                        display: flex;
                        font-size: rem(14px);

                        &::before {
                            content: '';
                            display: inline-block;
                            flex-shrink: 0;
                            width: rem(4px);
                            height: rem(4px);
                            margin-right: rem(6px);
                            margin-top: rem(8px);
                            background-color: #333;
                            border-radius: 50%;
                        }
                    }
                }
            }
        }

        .contact-list {
            display: flex;
            .con-tit {
                margin-right: rem(20px);
                .con-link {
                    font-size: rem(16px);
                }
            }
        }

        .round-list {
            display: flex;
            flex-wrap: wrap;

            .round-item {
                padding: rem(4px) rem(24px);
                margin: 0 rem(10px) rem(10px) 0;
                background-color: #565cba;
                border-radius: rem(18px);
                color: #fff;
                font-size: rem(14px);
            }
        }

        &.info {
            padding-top: rem(24px);
            margin-bottom: rem(60px);
        }
    }
}

@media screen and (min-width: 768px) {
    .progress {
        height: rem(20px);
    }

    .main {
        padding: rem(96px) 0;

        .main-content {
            padding: rem(24px) 0 rem(72px);

            &.info {
                padding: rem(24px) 0 rem(48px);
            }

            .round-list {
                .round-item {
                    margin-bottom: rem(20px);
                    margin-right: rem(20px);
                    background-color: #565cba;
                    font-size: rem(16px);
                }
            }

            .content-wrap {
                display: flex;

                .content-header {
                    width: 35%;
                    .desc-list {
                        .desc-item {
                            font-size: rem(12px);
                        }
                    }
                }

                .content {
                    width: 65%;
                    margin-top: rem(10px);
                }
            }

            .contact-list {
                display: flex;
                .con-tit {
                    margin-right: rem(20px);
                    .con-link {
                        font-size: rem(18px);
                    }
                }
            }
        }
    }
}
