$browser-context: 16px;
@function rem($pixels, $context: $browser-context) {
    @return #{$pixels/$context}rem;
}
.wrapper {
    background-color: #fff9f2;
}
/* visually-hidden style */
.visually-hidden {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0px !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0px, 0px, 0px, 0px) !important;
    white-space: nowrap !important;
    border: 0px !important;
}

/* progress-bar style */
.progress {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: rem(10px);
    background-color: #faf8ef;

    .progress-bar {
        width: 0%;
        height: 100%;
        background: #000;
        transition: width 0.2s ease-out;
    }
}
/* //progress-bar style */

.main {
    width: 100%;
    padding: rem(48px) 0;
    overflow-y: auto;

    .main-wrap {
        max-width: rem(688px);
        margin: 0 auto;
        padding: 0 rem(16px);
    }

    .main-content {
        margin-bottom: rem(48px);
        padding: rem(24px) 0 0;

        & ~ .main-content {
            border-top: 1px solid #333;
            color: #333;
            word-break: keep-all;
        }

        .info-tit {
            font-size: rem(40px);
        }

        .main-tit {
            font-size: rem(26px);
            margin-bottom: rem(24px);
        }

        .con-tit {
            font-size: rem(20px);

            .con-link {
                &::after {
                    content: '↗️';
                    margin-left: 0.12em;
                    font-weight: 500;
                }
            }
        }

        .con-sub-tit {
            font-size: rem(14px);
        }

        .content-wrap {
            .content-header {
                margin-top: rem(10px);

                .desc-list {
                    padding-left: rem(4px);
                    color: #717171;
                    .desc-item {
                        font-size: rem(12px);
                    }
                }
            }

            .content {
                margin-top: rem(10px);

                .con-item {
                    & ~ .con-item {
                        margin-top: rem(20px);
                        padding-top: rem(20px);
                        border-top: 1px solid #e1e1e1;
                    }
                }

                .con-block {
                    .con-tit {
                        font-size: rem(18px);
                        margin-bottom: rem(4px);
                    }

                    .con-sub-tit {
                        margin-bottom: rem(8px);

                        & + .con-desc-item {
                            &::before {
                                display: none;
                            }
                        }
                    }

                    & ~ .con-block {
                        margin-top: rem(20px);
                    }

                    .con-desc-item {
                        display: flex;

                        &::before {
                            content: '';
                            display: inline-block;
                            width: 8px;
                            height: 8px;
                            margin-right: rem(4px);
                            margin-top: rem(8px);
                            background-color: #333;
                            border-radius: 50%;
                        }
                    }
                }
            }
        }

        &.info {
            padding-top: rem(24px);
            margin-bottom: rem(48px);
        }
    }
}

@media screen and (min-width: 768px) {
    .progress {
        height: rem(20px);
    }

    main {
        padding: rem(96px) 0;

        .main-content {
            padding: rem(24px) 0 rem(72px);

            &.info {
                padding: rem(24px) 0 rem(48px);
            }

            article {
                display: flex;

                header {
                    width: 30%;
                    dl {
                        dd {
                            font-size: rem(12px);
                        }
                    }
                }

                .content {
                    width: 65%;
                    margin-top: 0;
                }
            }
        }
    }
}
