@charset "UTF-8";
.wrapper {
  background-color: #fff9f2;
}

/* visually-hidden style */
.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0px !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0px, 0px, 0px, 0px) !important;
  white-space: nowrap !important;
  border: 0px !important;
}

/* progress-bar style */
.progress {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 0.625rem;
  background-color: #faf8ef;
}

.progress .progress-bar {
  width: 0%;
  height: 100%;
  background: #000;
  transition: width 0.2s ease-out;
}

/* //progress-bar style */
.main {
  width: 100%;
  padding: 3rem 0;
  overflow-y: auto;
}

.main .main-wrap {
  max-width: 43rem;
  margin: 0 auto;
  padding: 0 1rem;
}

.main .main-content {
  margin-bottom: 3rem;
  padding: 1.5rem 0 0;
}

.main .main-content ~ .main-content {
  border-top: 1px solid #333;
  color: #333;
  word-break: keep-all;
}

.main .main-content .info-tit {
  font-size: 2.5rem;
}

.main .main-content .main-tit {
  font-size: 1.625rem;
  margin-bottom: 1.5rem;
}

.main .main-content .con-tit {
  font-size: 1.25rem;
}

.main .main-content .con-tit .con-link::after {
  content: '↗️';
  margin-left: 0.12em;
  font-weight: 500;
}

.main .main-content .con-sub-tit {
  font-size: 0.875rem;
}

.main .main-content .content-wrap .content-header {
  margin-top: 0.625rem;
}

.main .main-content .content-wrap .content-header .desc-list {
  padding-left: 0.25rem;
  color: #717171;
}

.main .main-content .content-wrap .content-header .desc-list .desc-item {
  font-size: 0.75rem;
}

.main .main-content .content-wrap .content {
  margin-top: 0.625rem;
}

.main .main-content .content-wrap .content .con-item ~ .con-item {
  margin-top: 1.25rem;
  padding-top: 1.25rem;
  border-top: 1px solid #e1e1e1;
}

.main .main-content .content-wrap .content .con-block .con-tit {
  font-size: 1.125rem;
  margin-bottom: 0.25rem;
}

.main .main-content .content-wrap .content .con-block .con-sub-tit {
  margin-bottom: 0.5rem;
}

.main .main-content .content-wrap .content .con-block .con-sub-tit + .con-desc-item::before {
  display: none;
}

.main .main-content .content-wrap .content .con-block ~ .con-block {
  margin-top: 1.25rem;
}

.main .main-content .content-wrap .content .con-block .con-desc-item {
  display: flex;
}

.main .main-content .content-wrap .content .con-block .con-desc-item::before {
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 0.25rem;
  margin-top: 0.5rem;
  background-color: #333;
  border-radius: 50%;
}

.main .main-content.info {
  padding-top: 1.5rem;
  margin-bottom: 3rem;
}

@media screen and (min-width: 768px) {
  .progress {
    height: 1.25rem;
  }
  main {
    padding: 6rem 0;
  }
  main .main-content {
    padding: 1.5rem 0 4.5rem;
  }
  main .main-content.info {
    padding: 1.5rem 0 3rem;
  }
  main .main-content article {
    display: flex;
  }
  main .main-content article header {
    width: 30%;
  }
  main .main-content article header dl dd {
    font-size: 0.75rem;
  }
  main .main-content article .content {
    width: 65%;
    margin-top: 0;
  }
}
